*.lnk
*.o
*.exe
obj/*
bin/*
**/input.txt
**/intro.txt
**/**/Inputs/*
/.idea/*
/AOC2016/Day1/Inputs/

/AOC2017/Day1/Inputs/
/AOC2017/Day2/Inputs/
/AOC2017/Day3/Inputs/
/AOC2022/Day1/Inputs/
/AOC2022/Day2/Inputs/
/AOC2022/Day3/Inputs/
/AOC2022/Day4/Inputs/
/AOC2022/Day5/Inputs/
/AOC2022/Day6/Inputs/
/AOC2022/Day7/Inputs/
/AOC2023/Day1/Inputs/
/AOC2023/Day2/Inputs/
/AOC2023/Day3/Inputs/
/AOC2023/Day4/Inputs/
